name: file_manager_view
description: Placeholder for file_manager_view package
version: 1.0.0
publish_to: "none"
environment:
  sdk: ">=3.0.0 <4.0.0"
dependencies:
  flutter:
    sdk: flutter
flutter:
  plugin:
    platforms:
      android:
        package: com.nightmare.file_manager_view
        pluginClass: FileManagerViewPlugin
